### Get started with _pandas_ !

#### Section 1.1

In [32]:
# example 1

import pandas as pd

students = ['Alice', 'Jack', 'Molly']

pd.Series(students)

0    Alice
1     Jack
2    Molly
dtype: object

In [4]:
# example 2

numbers = [1, 2, 3]

pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [5]:
# example 3

students = ['Alice', 'Jack', None]

pd.Series(students)

0    Alice
1     Jack
2     None
dtype: object

In [6]:
# example 4

numbers = [1, 2, None]

pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

- _NaN_ is a different value.
- _pandas_ set the dtype of this series to floating point numbers instead of object or ints.
- so _pandas_ represents _NaN_ as a floating point number.

In [27]:
# example 5

import numpy as np

print(np.nan == None)
print(np.nan == np.nan)

# instead use this :

print(np.isnan(np.nan))

False
False
True

In [8]:
# example 6

students_scores = {'Alice': 'Physics',
                   'Jack': 'Chemistry',
                   'Molly': 'English'}

s = pd.Series(students_scores)

print(s)
print(s.index)

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object
Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [9]:
# example 7

s = pd.Series(['Physics', 'Chemistry', 'English'], index=[1, 2, 3])

print(s)

1      Physics
2    Chemistry
3      English
dtype: object

#### Section 1.2

In [10]:
# example 1

student_classes = {'Alice': 'Physics',
                   'Jack': 'Chemistry',
                   'Molly': 'English',
                   'Sam': 'History'}

s = pd.Series(student_classes)
print(s)

# to see the fourth entry

print(s.iloc[3])

# to see the Molly's class

print(s.loc['Molly'])

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object
History
English

In [11]:
# example 2

class_code = {99: 'Physics',
              100: 'Chemistry',
              101: 'English',
              102: 'History'}

s = pd.Series(class_code)

# s[0] ---> will be an error

In [12]:
# example 3

# slow method

grades = pd.Series([90, 80, 70, 60])

total = 0

for grade in grades:
    total += grade

print(total / len(grades))

75.0

In [13]:
# example 4

# much faster

total = np.sum(grades)
print(total / len(grades))

75.0

In [14]:
# example 5

numbers = pd.Series(np.random.randint(0, 1000, 10000))

print(numbers.head())

0    965
1    634
2    122
3    672
4    375
dtype: int32

In [15]:
print(len(numbers))

10000

In [16]:
# example 6

s = pd.Series([1, 2, 3])
s.loc['History'] = 102
print(s)

0            1
1            2
2            3
History    102
dtype: int64

In [17]:
# example 7

student_classes = pd.Series({'Alice': 'Physics',
                             'Jack': 'Chemistry',
                             'Molly': 'English',
                             'Sam': 'History'})

print(student_classes)

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [33]:
kelly_classes = pd.Series(['Philosophy', 'Arts', 'Math'], index=['Kelly', 'Kelly', 'Kelly'])

print(kelly_classes)

Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object

In [36]:
all_student_classes = student_classes.append(kelly_classes)

print(all_student_classes)

Alice       Physics
Jack      Chemistry
Molly       English
Sam         History
Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object

C:\Users\Latitude 7270\AppData\Local\Temp\ipykernel_9260\3452306607.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_student_classes = student_classes.append(kelly_classes)

In [37]:
print(all_student_classes.loc['Kelly'])

Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object