### Get started with _Data Manipulation_ !

#### Section 4.1

(Basic Statistical Testing)

In [33]:
# example 1

import numpy as np
import pandas as pd

df = pd.read_csv('datasets/presidents.csv')
df

   #          President           Born
0  1  George Washington  Feb 22 (1732)
1  2         John Adams  Oct 30 (1735)
2  3   Thomas Jefferson  Apr 13 (1743)
3  4      James Madison  Mar 16 (1751)
4  5       James Monroe  Apr 28 (1758)

In [34]:
print("There are {} rows and {} columns".format(df.shape[0], df.shape[1]))

There are 5 rows and 3 columns

In [35]:
# example 2

df1 = pd.DataFrame([np.random.random(100) for x in range(100)])
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.951862,0.049858,0.226985,0.793622,0.575099,0.618201,0.817200,0.287655,0.527934,0.108884,...,0.245031,0.373079,0.838887,0.103508,0.946883,0.730528,0.900413,0.107113,0.656056,0.564943
1,0.120627,0.561317,0.851000,0.599335,0.222557,0.457735,0.450078,0.192844,0.875199,0.741027,...,0.950329,0.205103,0.386459,0.710934,0.778201,0.336509,0.389642,0.936741,0.984207,0.137541
2,0.084978,0.683614,0.051433,0.863583,0.328898,0.124535,0.843398,0.760440,0.307417,0.319356,...,0.713573,0.078910,0.281665,0.203672,0.471728,0.268027,0.645610,0.636666,0.824899,0.024017
3,0.932827,0.226214,0.563590,0.494308,0.524970,0.018626,0.367853,0.211201,0.634681,0.329383,...,0.341414,0.140837,0.402488,0.053459,0.039434,0.333313,0.320723,0.970638,0.299773,0.037205
4,0.262809,0.034322,0.756762,0.841345,0.057908,0.793815,0.407563,0.896856,0.159278,0.874743,...,0.134402,0.191526,0.106750,0.825940,0.770665,0.788192,0.346951,0.200600,0.018455,0.492925

In [36]:
df2 = pd.DataFrame([np.random.random(100) for x in range(100)])

In [37]:
from scipy.stats import ttest_ind

def test_column(alpha=0.1):
    num_diff = 0

    for col in df1.columns:
        teststat, pval = ttest_ind(df1[col], df2[col])

        if pval <= alpha:
            print("Col {} is statistically significantly different at alpha = {}, pval = {}".format(col, alpha, pval))
            num_diff += 1
    
    print("Total number different was {}, which is {} %".format(num_diff, (float(num_diff) / len(df1.columns)) * 100))

test_column()

Col 29 is statistically significantly different at alpha = 0.1, pval = 0.026168361109273782
Col 43 is statistically significantly different at alpha = 0.1, pval = 0.031004148588633755
Col 48 is statistically significantly different at alpha = 0.1, pval = 0.06992289207364348
Col 55 is statistically significantly different at alpha = 0.1, pval = 0.09750847707620229
Col 56 is statistically significantly different at alpha = 0.1, pval = 0.029930300153004546
Col 82 is statistically significantly different at alpha = 0.1, pval = 0.07498333205198462
Col 83 is statistically significantly different at alpha = 0.1, pval = 0.0957517168281976
Col 89 is statistically significantly different at alpha = 0.1, pval = 0.044092715418671144
Col 91 is statistically significantly different at alpha = 0.1, pval = 0.0881077328268636
Col 92 is statistically significantly different at alpha = 0.1, pval = 0.004114548420527124
Total number different was 10, which is 10.0 %

In [38]:
test_column(0.05)

Col 29 is statistically significantly different at alpha = 0.05, pval = 0.026168361109273782
Col 43 is statistically significantly different at alpha = 0.05, pval = 0.031004148588633755
Col 56 is statistically significantly different at alpha = 0.05, pval = 0.029930300153004546
Col 89 is statistically significantly different at alpha = 0.05, pval = 0.044092715418671144
Col 92 is statistically significantly different at alpha = 0.05, pval = 0.004114548420527124
Total number different was 5, which is 5.0 %

#### About statistical testing :

- The _p_ value reports the probability we can get the observed data under the null hypothesis, so with a larger _p_ value
  (by larger we mean it is closer to 1, instead of saying that it is more extreme), we have less evidence to reject the 
  null hypothesis.

- With a larger _alpha_, we reject the null hypothesis less carefully.

#### Section 4.2

( Other Forms of Structured Data )

Different forms of representations :

- Network diagram

- Graph representation

- Tree diagram (Language Parse Tree)